body {
    background-color: #FAF9F6;
    margin: 0;
}

.header {
    width: 100%;
    height: 350px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/BG-ImAGE.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1, h2, h3 {
    color: #FBBF24;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    letter-spacing: 5px;
}

#nav {
    width: 100%;
    height: 60px;
    background-color: #121212;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 120px;
}

#nav a {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

#nav a :hover{
    color: #FBBF24;
}

.main {
    width: 1600px;
    height: 1100px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 20px;
}

.footer {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    align-content: center;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}